{% extends 'myapp/Base.html'%}
{% load staticfiles %}
{% block body %}
<head>
    <link rel="stylesheet" href="{% static 'uploadimg.css' %}">
</head>
    <!--- img upload-->
<div class="container col-md-6 text-center" id="modalLRForm1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="col-auto main-section">
            <!--Content-->
            <div class="modal-content">

                                <!--Body-->
                                <div class="col-12 user-img">
                                        <img src="img/photo.png">
                                    <h3>Upload Image</h3>


                            <form class="col-12">
                                    <img id="upload_prieview"src="img/no.jpg" class="imagePreview">
                                    <label id="upbtn" type="aria-hidden" class="btn1 col-3">Upload<input id="imgInp" type="file" class="uploadFile img" value="Upload Photo" style="display: none;"></label>
                                    <label id="Mybtn" type="aria-hidden" class="btn1 col-3">Get Result</label>
                            </form>
                            <form id="MyForm1" action="" method="POST" style="display: none">
                                    <h1 style="color:teal"><strong>Stage 1</strong></h1>
                                    <p style="color:white; font-size: 1.5rem;">aweouasdiufsdfugsdfuiglasdifulasiflisduflasduifasduiflsidulsdui</p>
                              </form>
                              <form id="MyForm2" action="" method="POST" style="display: none">
                                    <h1 style="color:teal"><strong>Stage 2</strong></h1>
                                    <p style="color:white; font-size: 1.5rem;">aweouasdiufsdfugsdfuiglasdifulasiflisduflasduifasduiflsidulsdui</p>
                              </form>
                              <form id="MyForm3" action="" method="POST" style="display: none">
                                    <h1 style="color:teal"><strong>Stage 3</strong></h1>
                                    <p style="color:white; font-size: 1.5rem;">aweouasdiufsdfugsdfuiglasdifulasiflisduflasduifasduiflsidulsdui</p>
                              </form>
                              <form id="MyForm4" action="" method="POST" style="display: none">
                                    <h1 style="color:teal"><strong>Stage 4</strong></h1>
                                    <p style="color:white; font-size: 1.5rem;">aweouasdiufsdfugsdfuiglasdifulasiflisduflasduifasduiflsidulsdui</p>
                              </form>
                              <form id="MyForm5" action="" method="POST" style="display: none">
                                    <h1 style="color:teal"><strong>Stage 5</strong></h1>
                                    <p style="color:white; font-size: 1.5rem;">aweouasdiufsdfugsdfuiglasdifulasiflisduflasduifasduiflsidulsdui</p>
                              </form>


                    </div><!---- end of modal content-->

                            </div>
                            <!--/.Panel 7-->
                        </div>

                    </div>
                </div>
                <!--/.Content-->

            </div><!-- col-2 -->

            </div><!-- row -->
    </div>
</div><!-- container -->
{% endblock %}